<?php
/********
 * Calculate the daily intervals for just one day of open accounts
 */

$start = date('Y-m-d', strtotime('1900-01-01'));
$end = date('Y-m-d', strtotime('-1 day'));
#echo "STARTED: " . date('Y-m-d H:i:s');
$account_numbers = PortfolioInformation_Module_Model::GetAccountsThatInceptionIntervalsHaveNotRun(10);
if(is_array($account_numbers))
{
    PortfolioInformation_Module_Model::CalculateDailyIntervalsForAccounts($account_numbers, $start, $end);
    foreach($account_numbers AS $k => $v) {
        PortfolioInformation_Module_Model::MarkInceptionIntervalsDone($v);
    }
}
#echo "<br />FINISHED 10 " . date('Y-m-d H:i:s');exit;