<?php
require_once('modules/ModSecurities/actions/ConvertCustodian.php');

$start = date("Y-m-d", strtotime("today -1 Month"));//Go back a month
$end = date("Y-m-d");//Today's date for the index

$query = "INSERT INTO vtiger_cloud_updates (note, time) VALUES (?, NOW())";
$note = "Indexing start";
$adb->pquery($query, array($note));

ModSecurities_ConvertCustodian_Model::UpdateAllIndexesEOD($start, $end);
ModSecurities_Module_Model::UpdateIndexPricesWithLatest();
/*ModSecurities_ConvertCustodian_Model::UpdateIndexEOD("S&P 500", $start, $end);
ModSecurities_ConvertCustodian_Model::UpdateIndexEOD("AGG", $start, $end);
ModSecurities_ConvertCustodian_Model::UpdateIndexEOD("GDAXI", $start, $end);
ModSecurities_ConvertCustodian_Model::UpdateIndexEOD("SSEC", $start, $end);
ModSecurities_ConvertCustodian_Model::UpdateIndexEOD("FTSE", $start, $end);
ModSecurities_ConvertCustodian_Model::UpdateIndexEOD("BSESN", $start, $end);
ModSecurities_ConvertCustodian_Model::UpdateIndexEOD("HSI", $start, $end);
ModSecurities_ConvertCustodian_Model::UpdateIndexEOD("FCHI", $start, $end);
ModSecurities_ConvertCustodian_Model::UpdateIndexEOD("CYC", $start, $end);
ModSecurities_ConvertCustodian_Model::UpdateIndexEOD("CMR", $start, $end);
ModSecurities_ConvertCustodian_Model::UpdateIndexEOD("GOX", $start, $end);
ModSecurities_ConvertCustodian_Model::UpdateIndexEOD("WILREIT", $start, $end);
ModSecurities_ConvertCustodian_Model::UpdateIndexEOD("W5KMCG", $start, $end);
ModSecurities_ConvertCustodian_Model::UpdateIndexEOD("IBEX", $start, $end);
ModSecurities_ConvertCustodian_Model::UpdateIndexEOD("W5KLCV", $start, $end);
ModSecurities_ConvertCustodian_Model::UpdateIndexEOD("OEX", $start, $end);
ModSecurities_ConvertCustodian_Model::UpdateIndexEOD("RUI", $start, $end);
ModSecurities_ConvertCustodian_Model::UpdateIndexEOD("XAX", $start, $end);
ModSecurities_ConvertCustodian_Model::UpdateIndexEOD("WILRESI", $start, $end);
ModSecurities_ConvertCustodian_Model::UpdateIndexEOD("DJI", $start, $end);
ModSecurities_ConvertCustodian_Model::UpdateIndexOmniscient("EEM", $start, $end);
ModSecurities_ConvertCustodian_Model::UpdateIndexEOD("EFA", $start, $end);*/

$query = "INSERT INTO vtiger_cloud_updates (note, time) VALUES (?, NOW())";
$note = "Indexing finished";
$adb->pquery($query, array($note));