<?php
/***
global $adb;
$accounts = PortfolioInformation_Module_Model::GetAllOpenAccountNumbers();
PortfolioInformation_Module_Model::CalculateMonthlyIntervalsForAccounts($accounts);
*/

$account_numbers = PortfolioInformation_Module_Model::GetAccountsWithoutLastMonthIntervalCalculated();
if(is_array($account_numbers)){
    PortfolioInformation_Module_Model::CalculateMonthlyIntervalsForAccounts($account_numbers);
}
