/* * *******************************************************************************
* The content of this file is subject to the VTE History Log ("License");
* You may not use this file except in compliance with the License
* The Initial Developer of the Original Code is VTExperts.com
* Portions created by VTExperts.com. are Copyright(C)VTExperts.com.
* All Rights Reserved.
* ****************************************************************************** */

.vteRecentActivitiesContainer .updates_timeline li{
    margin-bottom: 30px;
}
.vteRecentActivitiesContainer .vte-bg-info-small{
    left: 0 !important;
    margin: 0 5px 0 0 !important;
    display: inline-block !important;
    height: 28px !important;
    width: 28px !important;
    line-height: 20px !important;
    font-size: 12px !important;
    vertical-align: top;
}
.vteRecentActivitiesContainer .vte-bg-info-small img{
    margin-top: 2px;
}
.vteRecentActivitiesContainer .vte-bg-info-small i{
    font-size: 12px !important;
    vertical-align: middle;
}
.vteRecentActivitiesContainer .update_info_block {
    position: relative;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    background-color: #edeff0;
    width: 75%;
}

.vteRecentActivitiesContainer .update_info_block .fa-caret-left {
    position: absolute;
    top: 10px;
    right: calc(100% - 2px);
    font-size: 30px;
    color: #edeff0;
    z-index: 101;
    border: solid #d1d5da;
    border-width: 0 1px 1px 0;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    background-color: #edeff0;
    padding: 3px;
}

.vteRecentActivitiesContainer .update_info_block .update_info_block_header {
    padding: 5px 15px;
    background-color: #edeff0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.vteRecentActivitiesContainer .update_info_block .update_info_block_header .vte-history-log-title{
    display: inline-block;
    max-width: 60%;
    font-weight: bold;
}

.vteRecentActivitiesContainer .update_info_block .update_info_block_header .vte-history-log-type{
    vertical-align: top;
}

.vteRecentActivitiesContainer .update_info_block .update_info_block_content {
    padding: 5px 15px;
}
.vteRecentActivitiesContainer .update_info_block_content .update-name{
    width: 20%;
    display: inline-block;
    font-style: italic;
    vertical-align: top;
}
.vteRecentActivitiesContainer .update_info_block_content .update-to{
    width: 70%;
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
}
.vteRecentActivitiesContainer .update_info_block_content .update-to a{
    color: #15c;
}
.vteRecentActivitiesContainer .update_info_block_header a.vte-history-log-title{
    color: #15c;
}
.vteRecentActivitiesContainer .update_info_block_content .update-to .update-from{
    font-weight: normal;
}
.vteRecentActivitiesContainer .update_info_block_content .update-to .update-from .lbl_from_value{
    /*color: #2b879e;*/
}

.vteRecentActivitiesContainer .update_info_block_content .updateInfoContainer-show-more,
.vteRecentActivitiesContainer .update_info_block_content .updateInfoContainer-show-less{
    margin-top: 10px;
    text-align: center;
}

.vteRecentActivitiesContainer .update_info_block_content .updateInfoContainer-show-more a,
.vteRecentActivitiesContainer .update_info_block_content .updateInfoContainer-show-less a{
    color: #2b879e;
    text-align: center;
}

.vteRecentActivitiesContainer .update_info_block_content .updateInfoContainer-full-content{
    white-space: pre-line;
    font-weight: bold;
}
.vteRecentActivitiesContainer .update_info_block_content .show-more-fields{
    display: block !important;
}
.vteRecentActivitiesContainer .update_info_block_content .updateInfoContainer{
    padding: 5px 0;
}

.vteRecentActivitiesContainer .updates_timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 4px;
    background: #d1d5da;
    left: 19%;
    margin-bottom: 15px;
}

.vteRecentActivitiesContainer .updates_timeline > li .update_time {
    position: absolute;
    margin: 0;
    width: 14%;
    background-color: transparent;
    padding: 5px;
    text-align: right;
    color: #999;
    font-size: 15px;
    font-style: italic;
}
.vteRecentActivitiesContainer .cursorDefault {
    cursor: default;
}
.vteRecentActivitiesContainer .updates_timeline > li .update_icon {
    position: relative;
    border-radius: 50%;
    text-align: center;
    top: 0;
    left: 20%;
    width: 35px;
    height: 35px;
    margin: 0 0 0 -27px;
    color: #fff;
    line-height: 35px;
}
.vteRecentActivitiesContainer .updates_timeline > li .update_info {
    padding: 10px 10px 1px;
    display: block;
    margin: 0 0 -47px 24%;
    line-height: 1.4;
    position: relative;
    top: -45px;
}
.vteRecentActivitiesContainer .updates_timeline {
    padding-top: 20px;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}
.vteRecentActivitiesContainer .bg-info {
    background-color: orange;
}
.vteRecentActivitiesContainer .bg-info-modcomments {
    background-color: #135fd7;
}
.vteRecentActivitiesContainer .bg-info-accounts {
    background-color: #6cc4b9;
}
.vteRecentActivitiesContainer .bg-info-calendar {
    background-color: #ed4c57;
}
.vteRecentActivitiesContainer .bg-info-contacts {
    background-color: #03A678;
}
.vteRecentActivitiesContainer .bg-info-documents {
    background-color: #789048;
}
.vteRecentActivitiesContainer .bg-info-potentials {
    background-color: #492d61;
}
.vteRecentActivitiesContainer .bg-info-pricebooks {
    background-color: #048091;
}
.vteRecentActivitiesContainer .bg-info-project {
    background-color: #d1026c;
}
.vteRecentActivitiesContainer .bg-info-purchaseorder {
    background-color: #C93756;
}
.vteRecentActivitiesContainer .bg-info-projecttask {
    background-color: #012677;
}
.vteRecentActivitiesContainer .bg-info-quotes {
    background-color: #d1026c;
}
.vteRecentActivitiesContainer .bg-info-salesorder {
    background-color: #d1026c;
}
.vteRecentActivitiesContainer .bg-info-servicecontracts {
    background-color: #d1026c;
}
.vteRecentActivitiesContainer .bg-info-services {
    background-color: #d1026c;
}
.vteRecentActivitiesContainer .bg-info-invoice {
    background-color: #d1026c;
}
.vteRecentActivitiesContainer .bg-info-helpdesk {
    background-color: #d1026c;
}
.vteRecentActivitiesContainer .bg-info-products {
    background-color: #FFB3A7;
}
.vteRecentActivitiesContainer .bg-info-emails {
    background-color: #299AFC;
}
.vteRecentActivitiesContainer .bg-info-products {
    background-color: #FFB3A7;
}
.vteRecentActivitiesContainer .bg-info-campaigns {
    background-color: #A17917;
}
.vteRecentActivitiesContainer .bg-info-custom-mod {
    background-color: #CCCC99;
}
.vteRecentActivitiesContainer #moreLink{
    width: auto;
    float: left;
}