<?php

require_once('modules/PortfolioInformation/models/DailyBalances.php');
require_once("libraries/Reporting/ReportCommonFunctions.php");
/**
 * One simple call to write the daily balances for all active users using the past 7 days (allows for mistakes and missing data to catch up)
 */

global $dbconfig;

/*Positions asset allocation widget calculations*/
PortfolioInformation_TotalBalances_Model::ClosePositionsBasedOnTheirPortfolio();
PortfolioInformation_GlobalSummary_Model::CalculateAllAccountAssetAllocationValues();
PortfolioInformation_TotalBalances_Model::WriteAndUpdateAssetAllocationUserDaily();

/*Fill in the consolidated balances table*/
$accounts = PortfolioInformation_Module_Model::GetAccountNumbersFromRepCodeOpenAndClosed($rep_codes);
$start = date('Y-m-d', strtotime('-7 days'));
$finish = date('Y-m-d');
$questions = generateQuestionMarks($accounts);
$query = "CALL custodian_omniscient.CONSOLIDATE_BALANCES_DEFINED(\"{$questions}\", ?, ?, ?)";//Write to consolidated balances
//Write to the users table from consolidated balances for grand total of all accounts
$adb->pquery($query, array($accounts, $dbconfig['db_name'], $start, $finish), true);

PortfolioInformation_TotalBalances_Model::WriteAndUpdateLast7DaysForAllUsers();