<?php
include_once("libraries/custodians/cCustodian.php");

$integrity = new cIntegrity(array());
$differences = $integrity->GetDifferences();

if(!empty($differences))
    $integrity->RepairDifferences();

include("cron/modules/InstanceOnly/HomepageWidgets.service");