<?php

$differences = PortfolioInformation_Module_Model::GetPortfolioToPositionDifferencesList();
$tdAccounts = array();

foreach($differences AS $k => $v) {
    if(strtoupper($v['origination']) == 'TD')
        $tdAccounts[] = $v['account_number'];
}

$end = date('Y-m-d');
$start = date('Y-m-d', strtotime('-4 days'));
PortfolioInformation_Module_Model::TDBalanceCalculationsMultiple($tdAccounts, $start, $end);

$copy = new CustodianToOmniTransfer($tdAccounts);
$copy->UpdatePortfolios();
$copy->CreateSecurities();
$copy->CreatePositions();

PortfolioInformation_Module_Model::ConsolidatedBalances($tdAccounts, $start, $finish);


include("cron/modules/InstanceOnly/HomepageWidgets.service");