.FixTransaction {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

.fixed_transactions_table{width:100%;}
.fixed_transactions_table td{width:25%;}