#ranged_billing_wrapper{padding:50px;}
#ranged_billing_table{width:100%;}

.ranged_table{width:100%;}
.ranged_portfolio{width:50%;}

.adjustment_total{text-align:right;}
.total_amount_due{text-align:right;}
.right{text-align:right;}
.strong{font-weight:bold;}

.ranged_table thead tr th{padding-left:5px; padding-right:5px;}
.flow_table thead tr th{padding-top:25px;}
.ranged_table td{padding-right:5px; padding-left:5px;}