.vicon-vtefeedback:before{
    content: '\e676';
}
.bold{
    font-weight: bold;
}
.margin-bottom-20{
    margin-bottom: 15px;
}
.editContainerSetting{
    width: 500px;
    margin: 0 auto;
}

#feedback-start-translation tr{
    margin: 4px 0;
    display: inline-block;
}
#feedback-start-translation .image-star img{
    width: 190px;
    padding-right: 10px;
}
#feedback-start-translation .input-star{
    width: 100%;
}
#feedback-start-translation .input-star input{
    width: 265px;
    padding: 5px;
}
.save_setting{
    width: 120px;
    margin: 0 auto;
}
.feedback-container{
    margin: 0 auto;
}
.feedback-container .container{
    width: 800px;
}
.feedback-container .padding20{
    padding: 10px 15px;
}
.feedback-container .fa-star{
    font-size: 28px;
    padding: 15px;
}
.feedback-container .checked{
    color: #ffc107;
}
.feedback-container .width-big{
    width: 800px;
    font-family: arial;
    font-size:22px;
    font-weight: normal;
    text-align: center;
}
.feedback-container .width-small{
    width: 550px;
    margin: 0 auto;
}
.feedback-container .image-submited{
    float: right;
    height: 38px;
    margin-top: 10px;
}

.feedback-container .customer-submit{
    width: 150px;
    color:#fff;
    background: #70dfbd;
    border-radius: 20px;
    border:2px solid #029e6e;
}

.feedback-container .customer-submit:hover{
    background: #029e6e;
}
.fa-star:hover{
    cursor: pointer;
}
.width-small textarea{
    width: 100%;
}
body.thankyou-container{
    text-align: center;
}