/* here you can put your own css to customize and override the theme */
#responsive_change_password_container .block-spinner-bar>div {
	background: #32c5d2!important;
}
.module_Documents_container .block-spinner-bar>div {
	background: #32c5d2!important;
}
.module_Reports_container .block-spinner-bar>div {
	background: #32c5d2!important;
}
@charset "UTF-8";
/* Cubic Bezier Transition */
@media print {
  .page-content {
    min-height: 300px !important;
  }
}
@media (min-width: 992px) {
  /* 992px */
  /* Page content */
	.page-content-wrapper .page-content {
      min-height: 600px;
    }
}
@media (max-width: 991px) {
  /* 991px */
  .page-content-wrapper .page-content {
    min-height: 280px; }
}

@media screen and (max-width: 767px){
	.dataTables_extended_wrapper .table.dataTable {
		margin:0px!important;
	}
}
.custom-scrollable{
	overflow-y: auto;
	max-height: 100px;
}
@media only screen and (min-width:960px){
	.container, .container-fluid {
		padding-top:10px;
	}
}

@media (min-width: 321px) and (max-width: 480px) {
	.page-header.navbar .page-top {
    	height: 136px; 
   	}
}

@media (max-width: 767px) {

	.page-header.navbar .page-logo .logo-default {
	    margin: 20px 0 0 0;
	}
}

.hodings_summary tr.holdings td:first-child{
	padding-left: 30px;
	vertical-align: middle;
}
.hodings_summary tr.holdings_sub td:first-child{
	padding-left: 60px;
}
.income_summary tr.monthly_income td:first-child{
	padding-left: 30px;
	vertical-align: middle;
}
.income_summary tr.monthly_income_sub td:first-child{
	padding-left: 60px;
}
.widget-row .widget-thumb a:hover{
	text-decoration: none;
}
.PT20 {
	padding-top:20%;
}

.body-color{
	background-color:#eef1f5;
}

#pie_report_table>tfoot>tr>th{
	padding: 8px!important;
	border: 0px;
}

#pie_report_table>thead>tr>th, #pie_report_table>tbody>tr>td{
	border: 0px;
}

#pie_report_table>tbody>tr>td{
	font-weight: 500;
}
#pie_report_table{
	background: #f4f6f7
}

.idealsteps-step .form .control-label{
	border-bottom: 1px solid #222;
}