/* ********************************************************************************
* The content of this file is subject to the VTEAuthnet("License");
* You may not use this file except in compliance with the License
* The Initial Developer of the Original Code is VTExperts.com
* Portions created by VTExperts.com. are Copyright(C) VTExperts.com.
* All Rights Reserved.
* ****************************************************************************** */

.vicon-ancustomers:before {
    content: "\e617";
}
.vicon-anpaymentprofile:before {
    content: "\e655";
}
.vicon-antransactions:before {
    content: "\e64e";
}
.vicon-vtepayments:before {
    content: "\e67a";
}