/* 
    Document   : monthly_style
    Created on : 15-May-2013, 11:16:59 AM
    Author     : theshado
    Description:
        Purpose of the stylesheet follows.
*/
.breakbefore{
    page-break-before: always;
}

.breakafter {
        page-break-after: always;
}
/*
background-image:url('https://www.advisorviewdev.com/vcrm/themes/images/ReportBKGIncome.jpg'); background-repeat:no-repeat
*/

body{background-image:url('https://www.advisorviewdev.com/vcrm/themes/images/ReportBKGPurpleGradient.jpg'); background-repeat:no-repeat;}

.graph_table{width:100%;}
.graph_table .table_title{font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#FFF; text-align:right; padding-bottom:30px}
.graph_table th{font-size:12px; padding-top:50px;}
.graph_table .symbol{font-size:12px; padding-top:10px;}
.graph_table .regular{font-size:10px}
.graph_table .graph_bg{padding:60px;}
.graph_image{width:900px;}

.graph_table tr:nth-child(odd){background-color:#CCC;}
.graph_table tr:nth-child(even){background-color:#FFF;}
