<?php

global $adb;

$getReport = $adb->pquery("SELECT * FROM vtiger_scheduled_portfolio_reports");

if($adb->num_rows($getReport)){
    
    for($u=0;$u<$adb->num_rows($getReport);$u++){
        
		$user = CRMEntity::getInstance("Users");
		$user->id = $adb->query_result($getReport, $u, 'user_id');
		$user->retrieve_entity_info($user->id, "Users");
		vglobal("current_user", $user);
		
        $userEmail = $adb->query_result($getReport, $u, 'user_email');
        $params = json_decode(html_entity_decode($adb->query_result($getReport, $u, 'params')), true);
        
        $params['sendEmail'] = true;
        $params['userEmail'] = $userEmail;
        
        $view = new Vtiger_ReportPdf_Action();
        $view->process(new Vtiger_Request($params, $params));
		
		$reportId = $adb->query_result($getReport, $u, 'id');
		
		$adb->pquery("DELETE FROM vtiger_scheduled_portfolio_reports WHERE id = ?",array($reportId));
        
    }
	
	$user = Users::getActiveAdminUser();
	vglobal("current_user", $user);
}