#month_over_month thead td{font-weight:bold;}
#month_over_month tbody tr:nth-child(odd) {
     background-color: lightgrey;
 }
#month_over_month tbody td{font-size:16px;}

#mom_header{width:100%; display:block; float:left; border:1px solid black; height:400px; background-color:lightgrey}

.blue_header{
    width:100%;
    background-color:#33256C;
    text-align:center;
    color: white;
}

.padded_heading{padding:5px;}