/* 
    Document   : monthly_style
    Created on : 15-May-2013, 11:16:59 AM
    Author     : theshado
    Description:
        Purpose of the stylesheet follows.
*/
.breakbefore{
    page-break-before: always;
}

.breakafter {
        page-break-after: always;
}
/*
background-image:url('https://www.advisorviewdev.com/vcrm/themes/images/ReportBKGIncome.jpg'); background-repeat:no-repeat
*/

body{/*background-image:url('https://www.advisorviewdev.com/vcrm/themes/images/ReportBKGPurpleGradient.jpg'); background-repeat:no-repeat;*/}

table{width:100%}

#wrapper{display:block; width:100%; padding-top:50px; margin-right:20px;}
#pie_chart{width:100%; display:block; float:left;}
#graph_chart{width:100%; display:block; float:left; clear:both; padding-top:50px; background-color:white;}
#charts{width:49%; display:block; float:left; background-image:url('https://www.advisorviewdev.com/vcrm/themes/images/reportGraphBkgLarge.png'); background-position:left; background-repeat:no-repeat; padding:9px; margin-right:4px;}
#investments{width:46%; display:block; float:right;}
#investments table{font-family:Arial, Helvetica, sans-serif; font-size:11px; float:left;}
#investments table tr:nth-child(odd){background-color:#CCC;}
#investments table tr:nth-child(even){background-color:#FFF;}

.top_spacing{padding-top:50px;}

.graph_table{width:98%; float:right;}
.graph_table .table_title{font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#FFF; text-align:right; padding-bottom:30px}
.graph_table th{font-size:11px; padding-top:50px;}
.graph_table .symbol{font-size:11px; padding-top:10px;}
.graph_table .regular{font-size:10px}
.graph_table .graph_bg{padding:60px;}
.graph_image{width:900px;}

.graph_table tr:nth-child(odd){background-color:#CCC;}
.graph_table tr:nth-child(even){background-color:#FFF;}
