#projected_income{width:100%;}
#projected_income th{font-weight:bold; text-align:center; background-color: #f5f5f5;}
#projected_income tr:nth-child(odd){background-color: #eeeeee; }
#projected_income tr:nth-child(even){background-color: #bdbdbd;}