.createtransaction{color:blue;}
.createtransaction:hover{cursor:pointer;}
.system_generated_transaction{background-color: yellow;}

.edittransaction{color:blue;}
.edittransaction:hover{cursor:pointer;}
