.GHReport_UI_Wrapper{display:block; /*border:2px solid black;*/ max-width:1024px; /*border-radius:25px;*/ margin-left:auto;
                     margin-right:auto; padding:5px; #background-color: #FFFFCC;  box-shadow: 20px 20px 5px grey; border:1px solid black;}
.boxsizingborder{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width:100%;}
@font-face {
    font-family: "Calibri";
    src: url("/include/fonts/Calibri/Calibri.ttf") format("truetype");

/*    font-family: "Calibri";
    src: local("/include/fonts/Calibri/Calibri.ttf"); /* IE */
/*    src: local("Calibri"), url("/include/fonts/Calibri/Calibri.ttf") format("truetype"); /*non-IE*/
}

#GHReport_wrapper{font-family:Calibri,sans-Serif;}
.blue_header{padding:10px; font-size:20px;}
.grey_header{padding:10px; font-size:20px;}