#GHReport_header{
	width:100%;
}

#GHReport_header .pdf_crm_logo{
	float:left; 
	width:25%;
}

#GHReport_header tr td{    
	color: #2F3851;
	font-weight: bold;
}

.grey_header{
	width:100%; 
	background-color:rgba(0,0,0,0.3); 
	text-align:center;
	border : 2px solid rgba(0,0,0,0.5);
	color: white;
}

.blue_header{
	width:100%; 
	background-color:#33256C; 
	text-align:center;
	color: white;
	font-size:14px;
}

.borderTop{
	border-top:1px solid black; padding-top:10px;
}

.borderBottom{
	border-bottom:1px solid black;
}

.grey_back{background-color:RGB(245, 245, 245);}