#depthRange{width:25%;}
#angleRange{width:25%;}
#holdings_widget_switch_container{border:1px solid black; width:100%; display:block; border-radius:15px; background-color:lightgrey}
#holdings_widget_switches{width:100%; display:block; margin-left:50px; margin-right:auto; padding-top:10px;}
#holdings_widget_switch_container select{margin-left:25px;}
#pie_type{background-color:lemonchiffon;}

.widgetContainer_holdings{position:relative; max-height:600px; overflow-y: scroll;}

.summaryWidgetContainer{border-radius:25px; box-shadow: 5px 5px lightgrey; transition: all 0.6s; z-index:9;}
/*.summaryWidgetContainer:hover{transform: scale(1.2, 1.2); z-index:10;}
.summaryWidgetContainer:hover::after {opacity: 1;}*/

.resizeable:hover{transform: scale(1.2, 1.2); z-index:10; transition: all 0.6s;}