.table-collapse tr.collapse.in {
    display: table-row;
}
.table-collapse .collapse {
    display: none;
}
.table-collapse tr.holdings td:first-child{
	padding-left: 30px;
}
.table-collapse tr.secondary td:first-child{
	padding-left: 50px;
}
.monthy_income_table .sub_heading > th{
	border-top:1px solid #ddd !important; 
}
.monthy_income_table .sub_heading > th:first-child{
    border-left: 1px solid #ddd;
}