.ReportTopOmni .AccountDetails{display:block; margin-top:10px; display:block; border:1px solid black; float:left; padding:10px; width:400px;}
.ReportTopOmni .AccountDetails p{margin:0; padding:0; display:block; width:100%;}
.strong{font-weight: bold}
.ReportTopOmni .AccountDetails span.left{text-align:left;}
.ReportTopOmni .AccountDetails span.right{text-align:right; float:right;}