<?php
require_once('modules/PortfolioInformation/models/DailyBalances.php');
require_once("libraries/Reporting/ReportCommonFunctions.php");
/**
 * One simple call to write the daily balances for all active users using the past 7 days (allows for mistakes and missing data to catch up)
 */
date_default_timezone_set('America/Los_Angeles');
$current_time = Date("H:i:s");
$start_time = Date("05:00:00");
$end_time = Date("12:00:00");
if(IsTimeBetween($start_time, $end_time, $current_time)){
    global $adb;
    $d = date("Y-m-d", strtotime("-1 day"));
    $query = "CALL POSITIONS_TO_BALANCES_TD_MISSING_ONLY('{$d}', 'live_omniscient')";
    PortfolioInformation_TotalBalances_Model::ConsolidateBalances();
    PortfolioInformation_TotalBalances_Model::WriteAndUpdateLast7DaysForAllUsers();
}